
## <summary>policy for wondercoin</summary>


########################################
## <summary>
##	Transition to wondercoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`wondercoin_domtrans',`
	gen_require(`
		type wondercoin_t, wondercoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, wondercoin_exec_t, wondercoin_t)
')


########################################
## <summary>
##	Execute wondercoin server in the wondercoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wondercoin_initrc_domtrans',`
	gen_require(`
		type wondercoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, wondercoin_initrc_exec_t)
')


########################################
## <summary>
##	Search wondercoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wondercoin_search_lib',`
	gen_require(`
		type wondercoin_var_lib_t;
	')

	allow $1 wondercoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read wondercoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wondercoin_read_lib_files',`
	gen_require(`
		type wondercoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, wondercoin_var_lib_t, wondercoin_var_lib_t)
')

########################################
## <summary>
##	Manage wondercoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wondercoin_manage_lib_files',`
	gen_require(`
		type wondercoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, wondercoin_var_lib_t, wondercoin_var_lib_t)
')

########################################
## <summary>
##	Manage wondercoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wondercoin_manage_lib_dirs',`
	gen_require(`
		type wondercoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, wondercoin_var_lib_t, wondercoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a wondercoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`wondercoin_admin',`
	gen_require(`
		type wondercoin_t;
		type wondercoin_initrc_exec_t;
		type wondercoin_var_lib_t;
	')

	allow $1 wondercoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, wondercoin_t)

	wondercoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 wondercoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, wondercoin_var_lib_t)

')

